ion-content{
    position: absolute;

    #grid{
        background-size: 100% 30vh;
        background-repeat: no-repeat;
        background-color: #E1E7EA;
        padding: 0 30px;
    
        h1{
            margin-top: 10vh;
            margin-bottom: 15vh;
            text-transform: uppercase;
            color: white;
        }

        ion-img{
            margin-top: -90px;
            margin-left: -50px;
            margin-right: -50px;
        }

        ion-list{
            background-color: transparent;

            ion-card{
                margin: 50px 0 !important;
                background-color: white;
                border-radius: 20px;

                ion-card-content{

                    .row{
                        height: 8rem;
                        
                        .icone{
                            width: 60%;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .nom{
                            font-size: 12px;
                            text-transform: uppercase;
                        }

                        #vignettes{
                            height: 100%;
                            background-repeat: no-repeat;
                            background-size: 100% auto;
                            background-position: center;
                        }
                    }
                }   
            }
        }
    }
}








